<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>名前</h2>
    <p><%= toilet.name %></p>
    <h2>最寄り駅</h2>
    <p><%= toilet.station %></p>
    <h2>説明文</h2>
    <p><%= toilet.description %></p>
    <h2>席数</h2>
    <p><%= toilet.seatCount %></p>
  </body>
</html>
